.logo{
    text-align: center;
}
ion-content{
        --ion-background-color:#C6825C;
}

ion-card{
    --ion-background-color:rgb(255, 255, 255);
}

ion-content{
    --background: url(../../assets/fundo.png) 0 0/100% 100% no-repeat;
    }