<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Avaliação</ion-title>
  </ion-toolbar>
</ion-header>


  <div class="text"><h2>Avalie seu último serviço contratado</h2> </div>

 
      <div class="area">
        <img class="img" src="../../assets/c1.jpg">
        <h1>Cláudio Costa</h1>
      </div>
  

      <ion-card>
      <ion-card-content>
          <p>Serviço prestado: Instalação de tela de proteção</p>
      <p>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
        <ion-icon name="star-sharp" class="star"></ion-icon>
      </p>

      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button  expand="full" color="medium">Enviar Avaliação</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
