.logo{
    text-align: center;
    background-color: #C6825C;
}


.area{
    text-align: center;
    padding: 30px;
    background-color: #C6825C;
    color: #fff;
}
.foto{
    width: 150px;
    height: 150px;
    border-radius: 90px;
    border: 2px solid #fff;
}
ion-content{
    --background: url(../../assets/fundo.png) 0 0/100% 100% no-repeat;
    }
