<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
  
    <ion-item color="#C6825C">
      <ion-avatar slot="start">
        <img src="../../assets/icon.png">
      </ion-avatar>
      <ion-label class="avatar">Márcia Conceição</ion-label>
    </ion-item>
  
    <div class="dados">
  
      <ion-card>
  
        <p>Digite seus dados para confirmar o pagamento</p>
  
        <ion-input placeholder="Cpf"></ion-input>
  
        <ion-input placeholder="Email"></ion-input>
  
        <ion-input placeholder="Senha"></ion-input>
  
        <p>Valor: R$ 350,00</p>
  

        <p>Digite seus dados do cartão</p>
  
        <ion-input placeholder="Número do cartão"></ion-input>
  
        <ion-input placeholder="CVV"></ion-input>
  
        <ion-input placeholder="Data de Validade"></ion-input>

        <ion-label position="floating">Parcelamento</ion-label>
        <ion-select>
          <ion-select-option value="">Á VISTA</ion-select-option>
          <ion-select-option value="nes">2x 175,00</ion-select-option>
          <ion-select-option value="n64">3x 116,67</ion-select-option>
        </ion-select>
  
  
        
      </ion-card>
      <ion-button expand="full">Confirmar pagamento</ion-button>
  
    
    </div>
  </ion-header>
  </ion-content>
