<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
  
    <ion-item color="#C6825C">
      <ion-avatar slot="start">
        <img src="../../assets/icon.png">
      </ion-avatar>
      <ion-label class="avatar">Márcia Conceição</ion-label>
    </ion-item>
  
    <div class="dados">
  
      <ion-card>
        <ion-card-content>
        <p>Digite seus dados para confirmar o pagamento</p>
  
        <ion-input placeholder="Cpf"></ion-input>
  
        <ion-input placeholder="Email"></ion-input>
  
        <ion-input placeholder="Senha"></ion-input>
  
        <p>Valor: R$ 350,00</p>
      </ion-card-content>
      </ion-card>

      </div>



<div class="cartao">

  <ion-card>
    <ion-card-content>

        <p>Digite seus dados do cartão<ion-icon name="card-outline"></ion-icon></p>
  
        <ion-item>
        <ion-label position="floating">Nome do titular</ion-label>
                <ion-input placeholder="Nome impresso no cartão"></ion-input>
        </ion-item>

          <ion-item>
          <ion-label position="floating">Número do cartão</ion-label>
            <ion-input placeholder="0000 0000 0000 0000"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Validade</ion-label>
              <ion-input placeholder="MM/AA"></ion-input>
            </ion-item>


            <ion-item>
              <ion-label position="floating">Código de Segurança</ion-label>
                <ion-input placeholder="CVV"></ion-input>
              </ion-item>
  
        
        <ion-label position="floating">Parcelamento</ion-label>
        <ion-select>
          <ion-select-option value="">Á VISTA</ion-select-option>
          <ion-select-option value="nes">2x 175,00</ion-select-option>
          <ion-select-option value="n64">3x 116,67</ion-select-option>
        </ion-select>
  
  
       
      <ion-button expand="full">Confirmar pagamento</ion-button>

      </ion-card-content>

    </ion-card>
    </div>

      </ion-header>
  </ion-content>
