<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>



<ion-label>
  <div class="area">
    <img class="foto" src="../../assets/icon.png">
    <h1>Márcia Conceição</h1>
  </div>
</ion-label>


<ion-label>
  <ion-card class="enviado">
    Olá. Boa tarde, Sra. Márcia! Aqui é o Claudio da InHelp
  </ion-card>
</ion-label>

<ion-label>
  <ion-card class="enviado">
    Gostaria de confirmar a visita de amanhã ás 13:30hrs para a instalação da rede de proteção
</ion-card>
</ion-label>

<ion-label>
  <ion-card class="recebido">
Olá, Claudio. Pode confirmar sim! 
</ion-card>
</ion-label>

</ion-content>

<ion-footer>
<ion-toolbar>
<ion-item>

  <ion-input type class="form-control cpf-mask"  placeholder=" Digite uma mensagem" autocomplete="off"> <ion-icon name="chatbubble-ellipses-outline"></ion-icon></ion-input>
</ion-item>

  </ion-toolbar>
</ion-footer>