<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item class="calendar">
  <ion-label position="floating">DD/MM/YYYY</ion-label>
  <ion-datetime display-format="DD/MM/YYYY" min="2017-03-14" max="2021-12-29"></ion-datetime>
</ion-item>

<ion-label>
  <ion-card>
  <ion-card-content>
  <div class="dados">
  <h1>Cliente: Márcia Conceição</h1>
  <h2>Serviço: Instalar rede de proteção</h2>
  <h2>Horário: 13:30hrs</h2>
  <h2>Endereço: Est da Posse, 587. Casa x - Santíssimo</h2>
  <h2>Telefone: (21) xxxxx-xxxx</h2>
  <h2>Preço estimado: R$ 350,00</h2>

  

  <ion-chip>
    <div class="chat">
      <h4> Enviar mensagem
        <ion-icon name="chatbubbles"></ion-icon> 
          <ion-label></ion-label>
        
  </h4>
</div>
</ion-chip>
</div>
</ion-card-content>
</ion-card>
</ion-label>


<ion-label>
  <ion-card>
  <ion-card-content>
  <div class="dados">
  <h1>Cliente: Dolores da Silva</h1>
  <h2>Serviço: Orçamento</h2>
  <h2>Horário: 15:00hrs</h2>
  <h2>Endereço: Av. Santa Cruz, 6845. Casa x </h2>
  <h2>Telefone: (21) xxxxx-xxxx</h2>
  <h2>Preço estimado: R$ 0,00</h2>

  <ion-chip>
    <div class="chat">
      <h4> Enviar mensagem
        <ion-icon name="chatbubbles"></ion-icon> 
          <ion-label></ion-label>
        
  </h4>
</div>
</ion-chip>
</div>
</ion-card-content>
</ion-card>
</ion-label>


</ion-content>
