<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Contratações anteriores</ion-title>
  </ion-toolbar>
</ion-header>

  <h1>Últimos serviços contratado há 30 dias</h1>



<ion-card>
  <ion-card-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/c1.jpg">
    </ion-avatar>
    <ion-label>

      <div class="serv1">
        <h3>Cláudio Costa</h3>
        <h2> Instalação de rede de proteção</h2>

        <p class="tempo">  1 dia atrás  </p>
        
        <p>
          <ion-icon name="star-sharp" class="star"></ion-icon>
          <ion-icon name="star-sharp" class="star"></ion-icon>
          <ion-icon name="star-sharp" class="star"></ion-icon>
          <ion-icon name="star-sharp" class="star"></ion-icon>
          <ion-icon name="star-sharp" class="star"></ion-icon>
        </p>

        

      </div>

    </ion-label>

    
  </ion-item>
  </ion-card-content>
</ion-card>
 
</ion-content>