.logo{
    text-align: center;
    background-color: #C6825C;
}


.filtrar{
    float:right;
}
ion-header{
    --ion-background-color: #C6825C;
}
ion-card{
    --ion-background-color: #C6825C;
    font-size: 15px;
}

img{
    width:80px;
    }
ion-content{
    --background: rgb(255, 255, 255);
    line-height: 20px;
    }

section{
    padding: 20px 0;
}
.prof1{
    width: 380px;
    height: 150px;
}
ion-card-title{
    font-size: 14px;
    text-align: center;
    font-style:initial;
}
ion-title{
    font-size: 9px;
    text-align: center;
}

ion-card h3{
    font-size: 22px;
    text-align: center;
}

ion-card h2{
    font-size: 12px;
}

ion-card p{
    text-align: initial;
}

.estrelas h4{
    font-size: 15px;
    text-align: initial;
}

.estrelas ion-icon{
    color: #FFA500;
}

ion-card h6{
    font-size: 15px;
    text-align: end;
    width: end;
    height: initial;
}

ion-card h1{
    font-size: 15px;
    text-align: initial;

}

ion-card p{
    font-size: 15px;
    text-align: center;

}
.localizacao {
    float:right;
}

.avaliacao {
   text-align: center;
}

.star1 {
    color: lavender;
}