
<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
    <div class="logo">
      <img src="../../assets/logo.png" width="20%"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="profi">
    <ion-card-header>
      <ion-card-title>ENCONTRE O PROFISSIONAL QUE VOCÊ PRECISA</ion-card-title>
    </ion-card-header>
  </ion-card>
  
    <ion-item>
      <ion-title>Digite uma palavra-chave. Ex: "Colocar pisos", "Ar-condicionado", "Eletricista"</ion-title>
      
    </ion-item>

  <ion-searchbar color="write" show-cancel-button="always" class="filtrar"></ion-searchbar>

  <ion-card class="prof1">
      <ion-item (click)="entrarchat()">
        <ion-avatar slot="start">
          <img src="../../assets/c1.jpg">
        </ion-avatar>
        <ion-label>

          <ion-label>

            <h3>Claudio Costa </h3>
            <h2>INSTALADOR DE REDE DE PROTEÇÃO</h2>
            <div class="estrelas">
              <h4> 5 Estrelas 
          <ion-icon name="star" class="star"></ion-icon>
          <ion-icon name="star" class="star"></ion-icon>
          <ion-icon name="star" class="star"></ion-icon>
          <ion-icon name="star" class="star"></ion-icon>
          <ion-icon name="star" class="star"></ion-icon>
          </h4>
        </div>

        <div class='localizacao'>
          <h6> <ion-icon name="location-outline" class="local"></ion-icon>
            <p></p>4KM</h6>
        </div>

        <h1>Média de Preço <h1>$$$$</h1></h1>
        <div class="avaliacao">
          <p>Avaliações <ion-icon name="chatbox-ellipses"></ion-icon></p>
        </div>

      </ion-label>

        </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="prof1">
    <ion-item (click)="entrarchat()">
      <ion-avatar slot="start">
        <img src="../../assets/c4.jpg">
      </ion-avatar>
      <ion-label>

        <ion-label>
        <h3>Marcio Ferreira </h3>
        <h2>INSTALADOR DE REDE DE PROTEÇÃO</h2>

          <div class="estrelas">
            <h4> 4 Estrelas 
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star" class="star"></ion-icon>
        <ion-icon name="star-outline" class="star1"></ion-icon>
        </h4>
      </div>

      <div class='localizacao'>
        <h6> <ion-icon name="location-outline" class="local"></ion-icon>
          <p></p>2KM</h6>
      </div>

      <h1>Média de Preço <h1>$$$$</h1></h1>
      <div class="avaliacao">
        <p>Avaliações <ion-icon name="chatbox-ellipses"></ion-icon></p>
      </div>

    </ion-label>

      </ion-label>
  </ion-item>
</ion-card>
<ion-card class="prof1">
  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/c2.jpg">
    </ion-avatar>
    <ion-label>

      <ion-label>
      <h3>Tânia Bernardes</h3>
      <h2>INSTALADOR DE REDE DE PROTEÇÃO</h2>

        <div class="estrelas">
          <h4> 4 Estrelas 
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star-outline" class="star"></ion-icon>
      </h4>
    </div>

    <div class='localizacao'>
      <h6> <ion-icon name="location-outline" class="local"></ion-icon>
        <p></p>6KM</h6>
    </div>

    <h1>Média de Preço <h1>$$$</h1></h1>
    <div class="avaliacao">
      <p>Avaliações <ion-icon name="chatbox-ellipses"></ion-icon></p>
    </div>

    </ion-label>

    </ion-label>
</ion-item>
</ion-card>
<ion-card class="prof1">
  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/c5.png">
    </ion-avatar>
    <ion-label>

      <ion-label>
      <h3>Alexandre Monteiro</h3>
      <h2>INSTALADOR DE REDE DE PROTEÇÃO</h2>

        <div class="estrelas">
          <h4> 3 Estrelas 
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star-outline" class="star"></ion-icon>
      <ion-icon name="star-outline" class="star"></ion-icon>
      </h4>
    </div>

    <div class='localizacao'>
      <h6> <ion-icon name="location-outline" class="local"></ion-icon>
        <p></p>9KM</h6>
    </div>

    <h1>Média de Preço <h1>$$$</h1></h1>
    <div class="avaliacao">
      <p>Avaliações <ion-icon name="chatbox-ellipses"></ion-icon></p>
    </div>

  </ion-label>

    </ion-label>
</ion-item>
</ion-card>
<ion-card class="prof1">
  <ion-item (click)="entrarchat()">
    <ion-avatar slot="start">
      <img src="../../assets/c3.jfif">
    </ion-avatar>
    <ion-label>

      <ion-label>
      <h3>Felipe Rocha</h3>
      <h2>INSTALADOR DE REDE DE PROTEÇÃO</h2>

        <div class="estrelas">
          <h4> 3 Estrelas 
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star" class="star"></ion-icon>
      <ion-icon name="star-outline" class="star"></ion-icon>
      <ion-icon name="star-outline" class="star"></ion-icon>
      </h4>
    </div>

    <div class='localizacao'>
      <h6> <ion-icon name="location-outline" class="local"></ion-icon>
        <p></p>4KM</h6>
    </div>

    <h1>Média de Preço <h1>$$$$</h1></h1>
    <div class="avaliacao">
      <p>Avaliações <ion-icon name="chatbox-ellipses"></ion-icon></p>
    </div>

  </ion-label>

    </ion-label>
</ion-item>
</ion-card>
 
</ion-content>
