.logo{
    text-align: center;
}
ion-content{
        --ion-background-color:#C6825C;
}

ion-card{
    --ion-background-color:rgb(255, 255, 255);
}

ion-content{
    --background: rgb(255, 255, 255);
    }

.h2{
    text-align: center;
}