<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>


    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="col-12 col-md-4 itens">
    <h1>ENCONTRE O PROFISSIONAL QUE VOCÊ PRECISA</h1>
</div>

<div class="col-12 col-md-4 itens">
  <p>Digite uma palavra-chave. Ex: "Colocar pisos", "Ar-condicionado", "Eletricista"</p>
</div>
<ion-searchbar color="write" show-cancel-button="always"></ion-searchbar>
    <div> 
      <div class="col-12 col-md-4 itens">
        <h2>Titulo</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias fugiat sit error earum hic
            vel perferendis ad distinctio, voluptatem sint. Assumenda deserunt tempora reiciendis quibusdam
            dolores accusantium qui ab vel?</p>
    </div>
    </div>


</ion-content>
